body {
        font-family: 'Oswald';
  }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
.grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  
.bigproj {
    grid-row-end: span 2;
  }

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
/* visited link */
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
/* mouse over link */
a:hover {
    color: rgb(89, 0, 255);
    text-decoration: none;
  }
  
/* selected link */
a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

@media only screen and (max-width: 768px) {
    body {
        margin: 0 50px 0 50px;
    }
    
    h1 {
        font-size: 90px;
        margin: 30px 0 0 0;
    }
    
    figcaption {
        font-size: 14px;
        text-align: center;
    }
}
