* {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    align-self: center;
}

body {
  background-color: rgb(255, 235, 253);
}

header {
  text-align: center;
}

h1 {
  font-size: 7rem;
  font-family: 'Work Sans';
  font-weight: lighter;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  font-weight: normal;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  justify-content: space-evenly;
  background-color: rgb(187, 155, 236);
  letter-spacing: 0.2rem;
  padding: 0.2rem 0 0.2rem 0;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

figcaption {
  text-align: center;
  margin: auto auto 2rem auto;
  font-size: 1.3rem;
  font-weight: bolder;
}

.smallproj {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.big {
  height: 55rem;
  width: auto;
  padding: 1.5rem;
}

.small {
  height: 20rem;
  width: auto;
  padding: 1.5rem;
}

.item {
  background: rgb(229, 211, 255);
  margin: 1rem;
  border-radius: .6rem;
}

.disclaimer {
  text-align: center;
  scroll-padding-top: 2rem;
  padding-top: 2rem;
  padding-bottom:  4rem;
}

@media only screen and (max-width: 1385px) {
  nav {
    font-size: 2.7rem;
  }

  figcaption {
    font-size: 2rem;
  }

  .item {
    padding: 1rem 1rem;
  }

  .disclaimer {
    font-size: .8rem;
    margin: 1rem 1rem;
  }

  small {
    height: 26rem;
    width: auto;
    padding: .5rem;
  }
}

/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  }
  
  /* visited link */
  a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
  color: rgb(89, 0, 255);
  text-decoration: none;
  }
  
  /* selected link */
  a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
  }